<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RT2 / GL2</title>
</head>
<body>

<h1>Hello GL2 et RT2 ({{ param1 }}) dans le jolie monde de Symfony :D </h1>

<h2>{{ esm }}</h2>
</body>
</html>