{% extends 'layout.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
<div class="alert alert-info">Liste des personnes</div>
    <ol class="list-group">
        {% for person in persons %}
            <li class="list-group-item">
                {{ person.firstname }} {{ person.name }}, a <strong>{{ person.age }} ans</strong>
                <a href="{{ path('app_delete_person', {id: person.id}) }}">X</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
